
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>    
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/Informacion/Informacion.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Informacion/Informacion.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>VistaAngular</title>
</head>
<body>
    <div ng-app="MyApp" ng-controller="MyController"> 

        <div class="alert alert-primary" role="alert">
            1.-{{HolaMundo}} 2.-{{HolaMundo}}
        </div>

        <div class="alert alert-secondary" role="alert">
            {{ControlText}}
        </div>

        <button class="btn btn-primary" ng-show="MostrarBoton" ng-dblclick="DobleClickBoton(ControlText, Boton)">
            Click {{Boton}}
        </button>

        @*FORMULARIO*@

        <input type="text" value="boton azul" class="form-control" ng-model="ControlText" ng-class="ClaseCss" ng-click="ClickBoton()" />

        <br />

        <input type="text" title="nombre" ng-model="Formulario_Model.Nombre" />

        <br />

        <input type="text" title="apellido paterno" ng-model="Formulario_Model.ApellidoPaterno"/>

        <input type="text" title="apellido materno" ng-model="Formulario_Model.ApellidoMaterno"/>

        <span>{{Formulario_Model.ApellidoPaterno}}</span>

        <br />

        <button ng-click="LlenarFormulario()">Llenar Formulario</button>

        <button ng-click="VerFormulario()">Ver Formulario</button>

        <br />

        <button ng-click="PasarDatos()">PasarDatos</button>

        <button class="btn btn-primary" ng-click="FuncionModel()">
            Ver Model
        </button>

        <button class="btn btn-success" ng-click="LlamarControlador()" ng-disabled="Desabilitar" >
            Cargar Tabla
        </button>

        <input type="text" value="key up" class="form-control" ng-keyup="Presionar()"/>

        <div ng-repeat="d in ListaDatos">
            <button class="btn btn-dark">
                {{d.Nombre}}
            </button>
        </div>

        <select class="form-control" id="rolUsuarioMod" ng-model="ControlSeleccion" ng-options="data as data.Nombre for data in ListaDatos track by data.Id" ng-change="FuncionSeleccion(ControlSeleccion)" required>
            <option value="">-- SELECCIONE --</option>
        </select>

        <select class="form-control" id="rolUsuarioMod2" ng-model="ControlSeleccion" ng-change="FuncionSeleccion(ControlSeleccion)">
            <option value="">-- SELECCIONE --</option>
            <option ng-repeat="d in ListaDatos" value="{{d}}">{{d.Nombre}}</option>
        </select>

        <div ng-switch="ControlSeleccion.Id">
            <div ng-switch-when="1">
                <h1>Dogs</h1>
                <p>Welcome to a world of dogs.</p>
            </div>
            <div ng-switch-when="2">
                <h1>Tutorials</h1>
                <p>Learn from examples.</p>
            </div>
            <div ng-switch-when="3">
                <h1>Cars</h1>
                <p>Read about cars.</p>
            </div>
            <div ng-switch-default>
                <h1>Switch</h1>
                <p>Select topic from the dropdown, to switch the content of this DIV.</p>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Boton</th>
                    <th>Agregar</th>
                    <th>Agregar 2</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in ListaDatos">
                    <th>{{d.Id}}</th>
                    <td>{{d.Nombre}}</td>
                    <td>{{d.Descripcion}}</td>
                    <td>
                        <button class="btn btn-secondary" ng-click="ModificarColumna(d)">
                            Click...
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="AgregarElemento(d)">
                            Add...
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info" ng-click="AgregarElemento2()">
                            Add 2...
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in ListaFormulario">
                    <td>
                        {{d.Id}}
                    </td>
                    <td>
                        <input type="text" ng-model="d.Nombre" />
                    </td>
                    <td>
                        <input type="text" ng-model="d.ApellidoPaterno" />
                    </td>
                    <td>
                        <input type="text" ng-model="d.ApellidoMaterno" />
                    </td> 
                    <td>
                        <button class="btn btn-secondary" ng-click="EditarFormulario(d)">
                            Editar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <br />


        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Insertar nuevo
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" title="nombrte" ng-model="FormularioNuevo.Nombre" />
                        <br />
                        <input type="text" title="apellido paterno" ng-model="FormularioNuevo.ApellidoPaterno" />
                        <br />
                        <input type="text" title="apellido materno" ng-model="FormularioNuevo.ApellidoMaterno" />
                        <br />

                        <button ng-click="InsertarFormulario()" class="btn-dark btn-primary">Guardar</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        

        


    </div>
</body>
</html>
